---
 const personalImageAlt = "Agustin Schulze"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    Soy <strong>Agustín Schulze</strong>, un <strong>desarrollador Backend</strong> especializado en <strong>Java</strong>, trabajando de forma remota desde Mendoza, Argentina. Con experiencia en tecnologías como <strong>Spring Boot, Spring Cloud, Docker y microservicios</strong>, me enfoco en construir soluciones escalables y eficientes. Además, tengo conocimientos sólidos en Frontend con <strong>Angular</strong> y <strong>Bootstrap</strong>.
  </p>
  
  <p>
    Actualmente, estoy en proceso de certificarme como <strong>Java SE 11 Developer (1Z0-819) y AWS Certified Cloud Practitioner</strong>, lo que complementa mi enfoque hacia <strong>DevOps</strong> y la <strong>nube</strong>. Me apasiona el <strong>aprendizaje continuo</strong> y mejorar mis habilidades en un entorno colaborativo.
  </p>
  
  <p>
    Con un nivel de inglés <strong>C1</strong>, estoy abierto a oportunidades de reubicación para aportar mis conocimientos y experiencia a equipos <em>dinámicos</em>.
  </p>
  

 <!-- <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">
-->
</article>