---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Enero 2025 - Actual",
    title: "Desarrollador Java Backend",
    company: "MuniDigital",
    description:
      "Actualmente, soy Full Stack Developer, desarrollando soluciones escalables con Java, Spring, React y Backbone. Enfocado en backend y procesamiento de datos, gestiono bases de datos dockerizadas y desarrollo servicios en Spring sobre Tomcat. Trabajo con Scrum, organizando tareas en Jira y participando en dailys y sprints. Además, implemento y mantengo frontend en Backbone y Grunt, desarrollando micro frontends con React. Manejo autenticación y autorización con JWT, cookies y Google Workspace, optimizando seguridad y accesibilidad mediante gestión de sesiones y redireccionamientos.",
    link: "https://munidigital.tech/"
  },
  {
    date: "Agosto 2023 - Diciembre 2024",
    title: "Desarrollador Full Stack",
    company: "Municipalidad de Capital de Mendoza",
    description:
      "Trabajé como desarrollador Full Stack en el área de Desarrollo y Sistemas, aportando soluciones robustas y escalables mediante tecnologías como Java, Spring Boot, React, y Node.js. Me especializo en proyectos clave para la Municipalidad de Mendoza, incluyendo aplicaciones web, móviles y sistemas empresariales. Mis responsabilidades incluyen mantenimiento de sistemas críticos, desarrollo de aplicaciones móviles, integración de APIs, y administración de bases de datos con MySQL y MongoDB.",
    link: "https://ciudaddemendoza.gob.ar/",
  },
  {
    date: "Enero 2022 - Agosto 2023",
    title: "Maestro/Tutor Backend",
    company: "Egg Cooperation",
    description:
      "Ser tutor en la comunidad Egg me permitió fortalecer mis habilidades blandas y comprender la importancia de la cooperación y el trabajo en equipo. Como maestro en este bootcamp de programación, ayudé a los alumnos a superar dificultades en Java, Spring Boot, Spring MVC, y principios de POO, así como en tecnologías frontend como HTML, CSS, JavaScript, Bootstrap, y React. Este rol me brindó la oportunidad de consolidar mis conocimientos técnicos mientras desarrollaba mis capacidades de liderazgo y enseñanza.",
    link: "https://site.egg.live/es-ar/",
  }
];
---

<ol class="relative mt-16">
  {EXPERIENCE.map((experience) => (
    <li>
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>
