---
import { literal } from "astro/zod";
import ExperienceItem from "./ExperienceItem.astro";
---

const EXPERIENCE = [
  {
    date: "Enero 2025 - Actual",
    title: "Desarrollador Java Backend",
    company: "MuniDigital",
    description:
      "Actualmente trabajando como Full Stack Developer, brindando soluciones robustas y escalables en proyectos clave utilizando tecnologías como Java, Spring Boot, React y Backbone. Participando activamente en el desarrollo y mantenimiento de sistemas empresariales con enfoque en backend y procesamiento de datos. - Desarrollo de backend en Java, incluyendo procesamiento de datos y servicios con Spring Boot sobre un servidor Tomcat - Gestión de bases de datos dockerizadas para garantizar despliegues eficientes y escalabilidad - Trabajo bajo metodología ágil Scrum, participando en dailys, sprints y plannings, organizando tareas a través de Jira - Implementación y mantenimiento de frontend utilizando Backbone y Grunt, además del desarrollo de micro frontends con React - Manejo de autenticación y autorización en el backend mediante JWT, cookies y Google Workspace - Experiencia en redireccionamientos y gestión de sesiones para mejorar la seguridad y accesibilidad de las aplicaciones.",
    link: "https://munidigital.tech/"
  },
  {
    date: "Agosto 2023 - Diciembre 2024 ",
    title: "Desarrollador Full Stack",
    company: "Municipalidad de Capital de Mendoza",
    description:
      "Trabajé como desarrollador Full Stack en el área de Desarrollo y Sistemas, aportando soluciones robustas y escalables mediante tecnologías como Java, Spring Boot, React, y Node.js. Me especializo en proyectos clave para la Municipalidad de Mendoza, incluyendo aplicaciones web, móviles y sistemas empresariales. Mis responsabilidades incluyen mantenimiento de sistemas críticos, desarrollo de aplicaciones móviles, integración de APIs, y administración de bases de datos con MySQL y MongoDB.",
    link: "https://ciudaddemendoza.gob.ar/",
  },
  {
    date: "Enero 2022 - Agosto 2023",
    title: "Maestro/Tutor Backend",
    company: "Egg Cooperation",
    description:
      "Ser tutor en la comunidad Egg me permitió fortalecer mis habilidades blandas y comprender la importancia de la cooperación y el trabajo en equipo. Como maestro en este bootcamp de programación, ayudé a los alumnos a superar dificultades en Java, Spring Boot, Spring MVC, y principios de POO, así como en tecnologías frontend como HTML, CSS, JavaScript, Bootstrap, y React. Este rol me brindó la oportunidad de consolidar mis conocimientos técnicos mientras desarrollaba mis capacidades de liderazgo y enseñanza.",
    link: "https://site.egg.live/es-ar/",
  }
];

<ol class="relative mt-16">
  {EXPERIENCE.map((experience) => (
    <li key={experience.date}>
      <ExperienceItem {...experience} />
    </li>
  ))}
</ol>
