---
import { literal } from "astro/zod"
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Agosto 2023 - Actualmente",
    title: "Desarrollador Full Stack",
    company: "Municipalidad de Capital de Mendoza",
    description:
      "Actualmente trabajo como desarrollador Full Stack en el área de Desarrollo y Sistemas, aportando soluciones robustas y escalables mediante tecnologías como Java, Spring Boot, React, y Node.js. Me especializo en proyectos clave para la Municipalidad de Mendoza, incluyendo aplicaciones web, móviles y sistemas empresariales. Mis responsabilidades incluyen mantenimiento de sistemas críticos, desarrollo de aplicaciones móviles, integración de APIs, y administración de bases de datos con MySQL y MongoDB.",
    link: "https://ciudaddemendoza.gob.ar/",
  },
  {
    date: "Enero 2022 - Abril 2023",
    title: "Maestro/Tutor Backend",
    company: "Egg Cooperation",
    description:
      "Ser tutor en la comunidad Egg me permitió fortalecer mis habilidades blandas y comprender la importancia de la cooperación y el trabajo en equipo. Como maestro en este bootcamp de programación, ayudé a los alumnos a superar dificultades en Java, Spring Boot, Spring MVC, y principios de POO, así como en tecnologías frontend como HTML, CSS, JavaScript, Bootstrap, y React. Este rol me brindó la oportunidad de consolidar mis conocimientos técnicos mientras desarrollaba mis capacidades de liderazgo y enseñanza.",
    link: "https://site.egg.live/es-ar/"
  },
  {
    date: "Mayo 2022 - Diciembre 2022",
    title: "Trainee Developer",
    company: "LabsXD",
    description:
      "En mi rol como Desarrollador Trainee, adquirí experiencia en Salesforce, incluyendo el manejo de Lightning Web Components, Apex Basics & Database, y herramientas de administración como SOQL for Admins y Data Security. Participé en proyectos de frontend, fortaleciendo mis conocimientos en desarrollo web, integración tecnológica, y ampliando mi perfil como desarrollador integral. Estas actividades me permitieron implementar soluciones eficientes y seguras en diversos contextos tecnológicos.",
    link: "https://labsxd.com/"
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
