---
// LinkInline.astro
interface Props {
  href: string
  target?: string
}

const { href, target = "_self" } = Astro.props
---

<a
  href={href}
  target={target}
  rel={target === "_blank" ? "noopener noreferrer" : undefined}
  role="link"
  class="inline-flex items-center text-lg font-medium text-yellow-500 dark:text-yellow-200 dark:hover:text-yellow-300 hover:text-yellow-700"
>
  <slot />
</a>
